apiVersion: v1
kind: Service
metadata:
  name: otelcol-securityevent
  namespace: otelcol-securityevent
  labels:
    app.kubernetes.io/name: otelcol-securityevent
    app.kubernetes.io/component: collector
spec:
  type: ClusterIP
  ports:
  - name: otlp-grpc
    port: 4317
    targetPort: otlp-grpc
    protocol: TCP
  - name: otlp-http
    port: 4318
    targetPort: otlp-http
    protocol: TCP
  - name: zpages
    port: 55679
    targetPort: zpages
    protocol: TCP
  - name: healthcheck
    port: 13133
    targetPort: healthcheck
    protocol: TCP
  - name: pprof
    port: 1777
    targetPort: pprof
    protocol: TCP
  selector:
    app.kubernetes.io/name: otelcol-securityevent
    app.kubernetes.io/component: collector

---
apiVersion: v1
kind: Service
metadata:
  name: otelcol-securityevent-headless
  namespace: otelcol-securityevent
  labels:
    app.kubernetes.io/name: otelcol-securityevent
    app.kubernetes.io/component: collector
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: otlp-grpc
    port: 4317
    targetPort: otlp-grpc
    protocol: TCP
  - name: otlp-http
    port: 4318
    targetPort: otlp-http
    protocol: TCP
  selector:
    app.kubernetes.io/name: otelcol-securityevent
    app.kubernetes.io/component: collector

