apiVersion: v1
kind: ServiceAccount
metadata:
  name: otelcol-securityevent
  namespace: otelcol-securityevent
  labels:
    app.kubernetes.io/name: otelcol-securityevent
    app.kubernetes.io/component: collector

